@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--charcoalGrey);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: auto;
}

h1 {
    font-size: 46px;
}

.form-card {
    display: flex;
    justify-content: space-around;
    padding: 3% 4%;
    gap: 4%;
    width: max-content;
    background-color: var(--white);
    border-radius: 20px;
}

.hidden {
    display: none;
}
.success-card {
    background-color: var(--white);
    border-radius: 20px;
    padding: 3% 4%;
    width: 400px;
    height: 400px;
    margin-top: 20%;
}

.success-card-text {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin: 10% 0;
}
.success-text {
    margin: 0;
}
span {
    font-weight: 700;
}
.success-btn {
    width: 100%;
}
.form-left {
    width: 400px;
}

.form-right img {
    height: 500px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10% 0;
}

p, li {
    font-size: 16px;
}

.form-label { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    display: flex;
    gap: 1%;
    margin-top: 3%;
}

.input-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    margin-top: -3%;
}

input, button {
    height: 40px;
    border-radius: 10px;
    border: solid 1px var(--grey);
}

button {
    background-color: var(--darkSlateGrey);
    color: var(--white);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right, var(--tomato), orange);
    box-shadow: 5px 0px 15px var(--tomato);
}

/**** MOBILE ***/
@media only screen and (max-width: 850px) {
    body {
        margin-top: 5%;
    }
    .form-card {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    #desktopImage {
        display: none;
    }
    .form-right {
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
        background-size: 100% 151%;
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-size: cover;
    }
    .form-left {
        padding: 5% 4%;
        width: fit-content;
    }
    .input-btn {
        width: 100%;
    }
    input {
        margin-bottom: 3%;
    }
    h1 {
        font-size: 30px;
    }
    .success-card {
        height: 600px;
        margin: 0;
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .hidden {
        display: none;
    }
    .success-card h1 {
        font-size: 46px;
    }
}